---
import Section from "@/components/Section.astro"

import { work } from "@cv"
---

<Section title="Experiencias">
  {
    work.map(({ name, position, url, badge, startDate, endDate, summary }) => {
      const formatStartDate = () => {
        const date = new Date(startDate)
        return `${date.getMonth() + 1}/${date.getFullYear()}`
      }
      const formatEndDate = () => {
        if (!endDate) {
          return "Actual"
        }
        const date = new Date(endDate)
        return `${date.getMonth() + 1}/${date.getFullYear()}`
      }

      return (
        <div class="pb-4">
          <div class="flex justify-between">
            <div class="flex items-center gap-x-1">
              <a
                href={url}
                target="_blank"
                rel="noopener noreferrer"
                class="text-base font-bold hover:underline">
                {name}
              </a>
              {position && (
                <span class="inline-flex gap-x-1">
                  <div class="pointer-events-none rounded-md border border-transparent bg-muted px-1.5 py-0.5 font-mono text-xs font-semibold">
                    {position}
                  </div>
                </span>
              )}
            </div>
            <h3 class="text-sm tabular-nums text-gray-500">
              {formatStartDate} - {formatEndDate}
            </h3>
          </div>
          <p class="text-pretty font-mono text-sm text-secondary">{summary}</p>
        </div>
      )
    })
  }
</Section>
