---
import GitHubIcon from "@/icons/GitHub.astro"
import LinkedInIcon from "@/icons/LinkedIn.astro"
import MailIcon from "@/icons/Mail.astro"
import PhoneIcon from "@/icons/Phone.astro"
import WorldIcon from "@/icons/World.astro"
import XIcon from "@/icons/X.astro"
import type { Icon } from "@/types"
import { basics } from "@cv"

const { name, label, email, phone, location, profiles } = basics
const { region, country, map } = location

const SOCIAL_ICONS: Icon = {
  GitHubIcon,
  LinkedInIcon,
  MailIcon,
  XIcon,
}
---

<div class="mx-auto flex w-full max-w-2xl items-center justify-between">
  <div class="flex-1 space-y-1.5">
    <h1 class="text-2xl font-bold text-primary">{name}</h1>
    <p class="max-w-md text-pretty font-mono text-sm text-secondary">
      {label}
    </p>
    <a
      class="inline-flex max-w-md items-center text-pretty font-mono text-xs text-secondary hover:underline"
      href={map}
      target="_blank"
      rel="noopener noreferrer">
      <WorldIcon />
      {region}, {country}
    </a>

    <footer
      class="text-muted-foreground flex gap-x-1 pt-1 font-mono text-sm print:hidden">
      <a
        class="inline-flex size-8 items-center justify-center rounded-md border text-sm text-secondary transition-colors hover:bg-gray-100 hover:text-primary"
        href={`tel:${phone}`}
        title={`Llamar a ${name}`}
        target="_blank"
        rel="noopener noreferrer">
        <PhoneIcon />
      </a>
      <a
        class="inline-flex size-8 items-center justify-center rounded-md border text-sm text-secondary transition-colors hover:bg-gray-100 hover:text-primary"
        href={`mailto:${email}`}
        title={`Enviar un correo a ${name}`}
        target="_blank"
        rel="noopener noreferrer">
        <MailIcon />
      </a>
      {
        profiles.map(({ network, url, username }) => {
          const Icon = SOCIAL_ICONS[network + "Icon"]

          return (
            <a
              class="inline-flex size-8 items-center justify-center rounded-md border text-sm text-secondary transition-colors hover:bg-gray-100 hover:text-primary"
              href={url}
              title={`${username} en ${network}`}
              target="_blank"
              rel="noopener noreferrer">
              <Icon />
            </a>
          )
        })
      }
    </footer>

    <footer
      class="text-muted-foreground hidden flex-col gap-x-1 pt-1 font-mono text-sm print:flex">
      <a class="inline-flex items-center gap-x-1 text-sm text-secondary">
        <PhoneIcon />
        {phone}
      </a>
      <a class="inline-flex items-center gap-x-1 text-sm text-secondary">
        <MailIcon />
        {email}
      </a>
      {
        profiles.map(({ network, url }) => {
          const Icon = SOCIAL_ICONS[network + "Icon"]

          return (
            <a class="inline-flex items-center gap-x-1 text-sm text-secondary">
              <Icon />
              {url}
            </a>
          )
        })
      }
    </footer>
  </div>
  <div>
    <figure class="relative flex size-28 shrink-0 overflow-hidden rounded-xl">
      <img
        class="aspect-square h-full w-full"
        src="https://avatars.githubusercontent.com/u/10144216?v=4"
        alt=""
      />
    </figure>
  </div>
</div>
