---
import { basics } from "@cv"
import World from "@/icons/World.astro"
import GitHub from "@/icons/GitHub.astro"
import LinkedIn from "@/icons/LinkedIn.astro"
import X from "@/icons/X.astro"
import type { SocialIcon } from "@/types"

const { name, label, location, profiles } = basics
const { city, region, country } = location

const SOCIAL_ICONS: SocialIcon = {
  GitHub,
  LinkedIn,
  X,
}
---

<div class="mx-auto flex w-full max-w-2xl items-center justify-between">
  <div class="flex-1 space-y-1.5">
    <h1 class="text-2xl font-bold text-primary">{name}</h1>
    <p class="max-w-md text-pretty font-mono text-sm text-secondary">
      {label}
    </p>
    <a
      class="inline-flex max-w-md items-center text-pretty font-mono text-xs text-secondary hover:underline"
      href="http://google.com"
      target="_blank"
      rel="noopener noreferrer">
      <World />
      {region}, {country}
    </a>
    <footer
      class="text-muted-foreground flex gap-x-1 pt-1 font-mono text-sm print:hidden">
      {
        profiles.map(({ network, url, username }) => {
          const Icon = SOCIAL_ICONS[network]

          if (!Icon) {
            return null
          }

          return (
            <a
              class="inline-flex size-8 items-center justify-center rounded-md border text-sm text-secondary transition-colors hover:bg-gray-100 hover:text-primary"
              href={url}
              title={`${username} en ${network}`}
              target="_blank"
              rel="noopener noreferrer">
              <Icon />
            </a>
          )
        })
      }
    </footer>
  </div>
  <div>
    <figure class="relative flex size-28 shrink-0 overflow-hidden rounded-xl">
      <img
        class="aspect-square h-full w-full"
        src="https://avatars.githubusercontent.com/u/10144216?v=4"
        alt=""
      />
    </figure>
  </div>
</div>
